<!DOCTYPE html>
<html>
    <head>
    <title>GeoSense</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="apple-touch-icon" href="<%= BASE_URL %>assets/touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="<%= BASE_URL %>lib/bootstrap/assets/js/html5shiv.js"></script>
        <script src="<%= BASE_URL %>lib/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->

    <link href="<%= BASE_URL %>styles/main.css" media="all" rel="stylesheet" type="text/css"/>
    </head>
</html>
<body<% if (bodyClass) { %> class="<%= bodyClass %>"<% } %>>

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <a class="mit-logo" href="http://www.mit.edu"><img src="<%= BASE_URL %>assets/homepage-mit.png"></a>
          <a class="app-title" href="<%= BASE_URL %>"><span class="app-title">GeoSense</a> <a class="map-title"></a>
        </div>
        </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!--<li><a href="http://media.mit.edu">A Media Lab project</a></li>-->
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="<%= BASE_URL %>about">Project Background</a></li>
                    <li><a href="http://github.com/Safecast/GeoSense">GitHub Repository</a></li>
                    <li><a href="<%= BASE_URL %>contact">Contact us</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right user-nav">
        <% if (user) { %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="logged-in"><a href="<%= BASE_URL %>dashboard" class="user-dashboard">Dashboard</a></li>
                    <li class="logged-in"><a href="<%= BASE_URL %>logout" class="user-logout">Log out</a></li>
                </ul>
            </li>
        <% } else { %>
            <li><a href="<%= BASE_URL %>signup">Sign up</a></li>
            <li class="divider"></li>
            <li><a href="<%= BASE_URL %>login">Log in</a></li>
        <% } %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <div id="wrap">
    <div id="main">
      <%- content %>
    </div>
  </div>

  <div class="container">    
    <!-- FOOTER -->
    <footer>
      <hr>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p class="pull-left">
        <a href="http://media.mit.edu">A Media Lab project</a><span class="dot">&middot;</span><a href="<%= BASE_URL %>about">About</a><span class="dot">&middot;</span><a href="<%= BASE_URL %>legal:privacy-policy">Privacy</a><span class="dot">&middot;</span><a href="<%= BASE_URL %>legal:terms">Terms</a></p>
      </div>
    </footer>

  </div><!-- /.container -->



  <script src="<%= BASE_URL %>lib/require/require-jquery.js"></script>
  <script>
    // globals
    var app, BASE_URL = "<%= BASE_URL %>"; 
    (function() {
        require.config({
            baseUrl: BASE_URL
        });
        require(['main-site', 'permissions'], function(App, permissions) {
            <% if (user) { %>permissions.setUser(<%- JSON.stringify(user) %>);<% } %>
            app = App.initialize();
        });
    }());
  </script>

</body>