<div class="jumbotron">
    <div class="container">
        <% if (!xhr) { %>
        <h1 class="app-title"><a href="/">GeoSense</a></h1>
        <% } %>
        <h2>Log in</h2>
        <% if (messages.info) { %>
            <div class="alert alert-info">
            <% for (var i = 0; i < messages.info.length; i++) {%>
                <%= messages.info[i] %><br>
            <% } %>
            </div>
        <% } %>
        <% if (messages.error) { %>
            <div class="alert alert-warning">
            <% for (var i = 0; i < messages.error.length; i++) {%>
                <%= messages.error[i] %><br>
            <% } %>
            </div>
        <% } %>

        <form class="login" action="<%= config.BASE_URL %>login" method="POST">
            <div class="form-group">
                <label>Email address</label>
                <input class="form-control input-lg" type="text" name="email" value="<% if (typeof email != 'undefined') { %><%= email %><% } %>" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input class="form-control input-lg" type="password" name="password"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary btn-lg" />
            </div>
            <% if (typeof next != 'undefined') { %><input type="hidden" name="next" value="<%= next %>"><% } %>
            <a class="btn btn-link" href="/signup">Create an account</a>
        </form>
    </div>
</div>
