<!DOCTYPE html>
<html>
  <head>
    <title>GeoSense</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="apple-touch-icon" href="<%= BASE_URL %>assets/touch-icon.png" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="<%= BASE_URL %>lib/bootstrap/assets/js/html5shiv.js"></script>
      <script src="<%= BASE_URL %>lib/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
    <link href="<%= BASE_URL %>styles/main.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id="app"></div>
    <div id="center-spinner" style="position:fixed;top:50%;left:50%;z-index:999"></div>
    <script src="<%= BASE_URL %>lib/spin/spin.min.js"></script>
    <script>document.getElementById('center-spinner').appendChild(new Spinner({radius:25,length:0,width:8,color:'#888'}).spin().el);</script>
    <script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
    <script src="<%= BASE_URL %>lib/require/require-jquery.js"></script>
    <script>
      // globals
      var app, BASE_URL = "<%= BASE_URL %>"; 
      (function() {
          require.config({
              baseUrl: BASE_URL
          });
          require(['main', 'permissions'], function(App, permissions) {
              <% if (user) { %>permissions.setUser(<%- JSON.stringify(user) %>);<% } %>
              app = App.initialize(<%- map %>, <%- IS_CUSTOM_HOST %>);
              App.start();
          });
      }());
    </script>
  </body>
</html>